@import "tailwindcss";

@theme {
    --font-kanit: "Kanit", sans-serif;
}

:root {
    background: black;
    color: white;
    font-family: var(--font-kanit);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
}